#Python Sets
In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

#Creating a Set
Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by ‘comma’.

In [1]:
# Creating a Set 
set1 = {}
print("Intial blank Set: ") 
print(set1) 

# Creating a Set with 
# the use of a String 
set1 = set("Facebook") 
print("\nSet with the use of String: ") 
print(set1) 

# Creating a Set with 
# the use of Constructor 
# (Using object to Store String) 
String = 'Apple'
set1 = set(String) 
print("\nSet with the use of an Object: " ) 
print(set1) 

# Creating a Set with 
# the use of a List 
set1 = set(["Apple", "Banana"]) 
print("\nSet with the use of List: ") 
print(set1)

Intial blank Set:
{}

Set with the use of String:
{'c', 'F', 'b', 'o', 'e', 'a', 'k'}

Set with the use of an Object:
{'e', 'A', 'p', 'l'}

Set with the use of List:
{'Banana', 'Apple'}

A set contains only unique elements but at the time of set creation, multiple duplicate values can also be passed. Order of elements in a set is undefined and is unchangeable. Type of elements in a set need not be the same, various mixed up data type values can also be passed to the set.

In [2]:
# Creating a Set with 
# a List of Numbers 
# (Having duplicate values) 
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5]) 
print("\nSet with the use of Numbers: ") 
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

#Adding Elements to a Set

**Using add() method**

Elements can be added to the Set by using built-in add() function. Only one element at a time can be added to the set by using add() method

In [3]:
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 

# Adding element  to the Set 
set1.add(8) 
set1.add(9) 
print("\nSet after Addition of Two elements: ") 
print(set1)

Intial blank Set:
set()

Set after Addition of Two elements:
{8, 9}

**Note –** Lists cannot be added to a set as elements because Lists are not hashable whereas Tuples can be added because tuples are immutable and hence Hashable.

In [4]:
# Creating a Set 
set1 = set() 
print("Intial blank Set: ") 
print(set1) 

# Adding  tuple to the Set 
set1.add((6,7)) 
print("\nSet after Addition of  elements: ") 
print(set1)

Intial blank Set:
set()

Set after Addition of  elements:
{(6, 7)}

**Using update() method**
For addition of two or more elements Update() method is used. The update() method accepts lists, strings, tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.

In [5]:
# Addition of elements to the Set 
# using Update function 
set1 = { 4, 5, (6, 7)}
set1.update([10, 11]) 
print("\nSet after Addition of elements using Update: ") 
print(set1)

Set after Addition of elements using Update:
{4, 5, (6, 7), 10, 11}

#Accessing a Set

Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [6]:
# Creating a set 
set1 = set(["Apple", "Banana", "Orange"]) 
print("\nInitial set") 
print(set1) 

# Accessing element using 
# for loop 
print("\nElements of set: ") 
for i in set1: 
	print(i) 

# Checking the element 
# using in keyword 
print('\n')
print("Orange" in set1)

Initial set
{'Banana', 'Apple', 'Orange'}

Elements of set:
Banana
Apple
Orange


True

#Removing elements from the Set

**Using remove() method or discard() method**
Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set. To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

In [7]:
# Creating a Set 
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}  
print("Intial Set: ") 
print(set1) 

# Removing elements from Set 
# using Remove() method 
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1) 

# Removing elements from Set 
# using Discard() method 
set1.discard(8) 
set1.discard(9) 
print("\nSet after Discarding two elements: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

#Using pop() method
Pop() function can also be used to remove and return an element from the set, but it removes only the last element of the set.

**Note –** If the set is unordered then there’s no such way to determine which element is popped by using the pop() function.

In [8]:
# Creating a Set 
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12} 
print("Intial Set: ") 
print(set1) 

# Removing element from the 
# Set using the pop() method 
set1.pop() 
print("\nSet after popping an element: ") 
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after popping an element:
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

**Using clear() method**

To remove all the elements from the set, clear() function is used.

In [9]:
#Creating a set 
set1 = {1,2,3,4,5}
print("\n Initial set: ") 
print(set1) 


# Removing all the elements from 
# Set using clear() method 
set1.clear() 
print("\nSet after clearing all the elements: ") 
print(set1)

 Initial set:
{1, 2, 3, 4, 5}

Set after clearing all the elements:
set()