#While Loop


In python, while loop is used to execute a block of statements repeatedly until a given a condition is satisfied. And when the condition becomes false, the line immediately after the loop in program is executed.

**Syntax :**


```
while expression:
    statement(s)
```

In [1]:
# while loop 
count = 0
while (count < 3):	 
	count = count + 1
	print("Hello World")

Hello World
Hello World
Hello World

**Using else statement with while loops:** As discussed above, while loop executes the block until a condition is satisfied. When the condition becomes false, the statement immediately after the loop is executed.
The else clause is only executed when your while condition becomes false. If you break out of the loop, or if an exception is raised, it wonâ€™t be executed.

In [2]:
# combining else with while 
count = 0
while (count < 3):	 
	count = count + 1
	print("Hello World") 
else: 
	print("In Else Block")

Hello World
Hello World
Hello World
In Else Block

#for Loop
For loops are used for sequential traversal. For example: traversing a list or string or array etc.

**Syntax:**


```
for iterator_var in sequence:
    statements(s)
```

In [5]:
# Iterating over a list 
print("List Iteration") 
list1 = ["Facebook", "Instagram", "Whatsapp"] 
for i in list1: 
	print(i) 
	
# Iterating over a tuple 
print("\nTuple Iteration") 
t = ("Apple", "Banana", "Orange") 
for i in t: 
	print(i) 
	
# Iterating over a String 
print("\nString Iteration")	 
s = "Python"
for i in s : 
	print(i) 
	
# Iterating over dictionary 
print("\nDictionary Iteration") 
d = dict() 
d['A'] = 100
d['B'] = 200
print(d)
for i in d : 
	print(i, d[i])

List Iteration
Facebook
Instagram
Whatsapp

Tuple Iteration
Apple
Banana
Orange

String Iteration
P
y
t
h
o
n

Dictionary Iteration
{'A': 100, 'B': 200}
A 100
B 200

#Nested For Loops

**Syntax:**


```
for iterator_var in sequence: 
	for iterator_var in sequence: 
		statements(s) 
		statements(s) 
```

In [6]:
# nested for loops in Python 
for i in range(1, 5): 
	for j in range(i): 
		print(i, end=' ') 
	print()

1
2 2
3 3 3
4 4 4 4

#Loop Control Statements

Loop control statements change execution from its normal sequence. When execution leaves a scope, all automatic objects that were created in that scope are destroyed. Python supports the following control statements.

---

**Continue Statement**
It returns the control to the beginning of the loop.

In [7]:
# Prints all letters except 'o' 
for letter in 'Facebook': 
	if letter == 'o' : 
		continue
	print ( letter )

F
a
c
e
b
k

**Break Statement**

It brings control out of the loop

In [8]:
for letter in 'Facebook' :
  # break the loop as soon it sees 'o'
  if letter == 'o' :
    break
  print(letter)

F
a
c
e
b

**enumerate():**  is used to loop through the containers printing the index number along with the value present in that particular index.

In [10]:
for key, value in enumerate(['Red', 'Green', 'Blue', 'Yello']): 
	print(key, value)

0 Red
1 Green
2 Blue
3 Yello

**zip() :** is used to combine 2 similar containers(list-list or dict-dict) printing the values sequentially. The loop exists only till the smaller container ends

In [11]:
# initializing list 
questions = ['name', 'colour', 'shape'] 
answers = ['apple', 'red', 'a circle'] 

# using zip() to combine two containers 
# and print values 
for question, answer in zip(questions, answers): 
	print('What is your {0}? I am {1}.'.format(question, answer))

What is your name? I am apple.
What is your colour? I am red.
What is your shape? I am a circle.

In [12]:
dictionary = {1: 'Red', 2: 'Green', 3 : 'Blue'} 

# using items to print the dictionary key-value pair 
for key, value in dictionary.items(): 
	print(key, value)

1 Red
2 Green
3 Blue